<div class="site-description">
  <img src="{{ site.baseurl}}/assets/img/fraulyoner.jpg" alt="Hallo, ich bin Frau Lyoner!"/>
  <p>Hi, ich bin Aljona alias <a href="{{ site.theme_settings.homepage }}" target="_blank">Frau Lyoner</a> –
    Mama einer fünfjährigen Tochter und tägliche Vorleserin.
    Ich liebe schöne Kinderbücher. Ganz besonders solche, die Vielfalt und verschiedene Lebensrealitäten zeigen,
    die mit Rollenklischees und Stereotypen brechen, die lehrreich sind und zum Nachdenken anregen
    – oder einfach nur Spaß beim Vorlesen machen. Und genau diese Art von Kinderbüchern stelle ich hier vor.
  </p>
</div>
