<div class="site-description">
  <img src="{{ site.baseurl}}/assets/img/fraulyoner.jpg" alt="Hallo, ich bin Frau Lyoner!"/>
  <p>Hi, ich bin Aljona alias <a href="{{ site.theme_settings.homepage }}" target="_blank">Frau Lyoner</a>,
    Mama einer fünfjährigen Tochter und tägliche Vorleserin.
    Ich liebe schöne Kinderbücher. Ganz besonders solche, die mehr Vielfalt und verschiedene Lebensrealitäten zeigen,
    die mit Rollenklischees und Stereotypen brechen, die lehrreich sind und zum Nachdenken
    anregen – oder aber einfach nur Spaß beim Vorlesen machen. Genau solche Bücher stelle ich auf diesem Blog vor.
  </p>
</div>
