<header class="site-header">
	<div class="site-nav">
		<ul id="nav-links">
			<li>
				<a href="#news">News</a>
			</li>
			<li>
				<a href="#contact">Contact</a>
			</li>
			<li>
				<a href="#about">About</a>
			</li>
		</ul>
		<a href="javascript:void(0);" class="icon" onclick="myFunction()">
			<i class="fa fa-bars"></i>
		</a>
	</div>
	<script>
		function myFunction() {
			var x = document.getElementById("nav-links");
			if (x.style.display === "block") {
				x.style.display = "none";
			} else {
				x.style.display = "block";
			}
		}
	</script>
	<div class="site-logo">
		<div class="branding">
			<h1 class="site-title">
				<a href="{{ site.baseurl }}/">{{ site.theme_settings.title_short }}</a>
			</h1>
			<small>Ein Blog über tolle Kinderbücher für mehr Vielfalt</small>
		</div>
	</div>
</header>
