{% assign post = include.post %}
<div class="post-teaser">
  <header>
    <h2>
      <a class="post-link" href="{{ post.url | relative_url }}">
        {{ post.title }}
      </a>
    </h2>
    <p class="meta">
      {% include date.html postDate=post.date %}
      {% include tags_list.html tags=post.tags %}
    </p>
  </header>
  <div class="excerpt">
    {% if post.image %}
    <img src="{{ site.baseurl }}/assets/img/posts/{{ post.image }}"/>
    {% endif %}
    <div class="excerpt-text">
    {{ post.excerpt }}
    <a class="button" href="{{ post.url | relative_url }}">
      Weiterlesen
    </a>
    </div>
  </div>
</div>
