<div id="post-nav">
  {% if page.previous.url %}
  <div id="previous-post" class="post-nav-post">
      <p>Vorheriger Post</p>
      <a href="{{ site.baseurl }}{{ page.previous.url }}">
        <i class="fa fw fa-angle-double-left"></i>
        {{ page.previous.title }}
      </a>
  </div>
  {% endif %}
  {% if page.next.url %}
  <div id="next-post" class="post-nav-post">
      <p>Nächster Post</p>
      <a href="{{ site.baseurl }}{{ page.next.url }}">
        {{ page.next.title }}
        <i class="fa fw fa-angle-double-right"></i>
      </a>
  </div>
  {% endif %}
</div>
