.site-header {

  .site-logo {
    @extend %site-el;
    @extend %padding-regular;
    padding-top: 0;
    display: inline-block;
  }

  .logo {
    margin-left: auto;
    margin-right: auto;
    width: 150px;
    height: 150px;
    display: block;
    background-color: black;
    color: white;
    padding-top: 25px;
    padding-left: 10px;
    border-radius: 50%;
  }

  a {
    color: $header-link-color;
  }

  .site-title {
    font-weight: bold;
    font-size: 1.75em;
    line-height: 1.5;
    margin: 0;
  }

  .site-nav {
    @extend %site-el;
    @extend %padding-regular;
    padding-bottom: 0;
    border: 0;
    display: inline-block;
    width: 100%;
    overflow: hidden;
    position: relative;

    ul {
      margin: 0;
      padding: 0;
      list-style: none;
      display: inline-block;
      font-size: 80%;

      li:not(:first-child):before {
        content: "|";
        padding-left: 0.4em;
        padding-right: 0.4em;
      }

      li, a {
        text-decoration: none;
        display: inline-block;

        &:hover {
          color: $link-color-hover;
        }
      }
    }
  }

}
