.site-header {

  .site-logo {
    @extend %site-el;
    @extend %padding-regular;
    display: inline-block;
  }

  .logo {
    margin-left: auto;
    margin-right: auto;
    width: 150px;
    height: 150px;
    display: block;
    background-color: black;
    color: white;
    padding-top: 25px;
    padding-left: 10px;
    border-radius: 50%;
  }

  a {
    color: $header-link-color;
  }

  .site-title {
    font-weight: bold;
    font-size: 1.75em;
    line-height: 1.5;
    margin: 0;
  }

  .site-nav {
    @extend %site-el;
    @extend %padding-regular;
    display: inline-block;
    width: 100%;
    overflow: hidden;
    position: relative;

    #nav-links {
      display: none;
    }

    .icon {
      display: block;
      position: absolute;
      right: 0;
      top: 0;
      font-size: 110%;
      padding: 1.5%;

      @media (max-width: $device-sm) {
        padding: 3.5%;
      }

      @media (max-width: $device-xs) {
        padding: 2.5%;
      }

      @media (max-width: $device-xxs) {
        padding: 1.5%;
      }
    }

    ul {
      margin: 0;
      padding: 0;
      list-style: none;
      line-height: 1.5;
      display: inline-block;

      li, a {
        text-decoration: none;
        display: block;

        &:hover {
          color: $link-color-hover;
        }
      }
    }
  }

}
