.post-content > :last-child {
  margin-bottom: 0;
}
article, .comments {
  @extend %padding-regular;
  border-bottom: 1px solid $border-color;
  float: left;
  width: 100%;
  h2.comment-title {
    margin-top: 0;
  }
  .comment-form-element {
    label {
      display: block;
      margin-top: 1em;
    }
    input[type="text"], textarea {
      padding: 10px;
      border: 1px solid $text-color-light;
      text-overflow: clip;
      width: 100%;
      @media(min-width: $device-sm) {
        width: 50%;
      }
    }
  }
  .comments-list {
    border-bottom: 1px dotted $border-color;
    & + .comments-list {
      padding-top: 1em;
    }
    &:last-child > p:last-child {
      margin-bottom: 0;
    }
  }
}
article {
  .subtitle {
    font-size: 1.2em;
    font-weight: normal;
    margin: 0;
  }
  header {
    margin-bottom: 2.5%;
    text-align: left;
  }
  a {
    @extend .body-link;
  }
  .footnotes {
    font-size: 0.9em;
  }
}
header {
  h1 {
    margin-top: 0;
  }
}
.meta {
  color: $text-color-light;
  font-size: 0.9em;
  letter-spacing: 0.1em;
  margin: 0;
  text-transform: uppercase;
}

.meta .tag {
  text-transform: capitalize;
}

.caption {
  color: $text-color-light;
  font-size: 0.75em;
  display: block;
}

.feature-image {
  padding: 0%;
  .post-link {
    color: $feature-image-text-color;
  }
  header {
    color: $feature-image-text-color;
    background-size: $feature-image-size;
    margin-bottom: 0;
    padding: $padding-large/2.5 $padding-large;
    .meta {
      color: rgba($feature-image-text-color, .7);
    }
  }
  .post-content {
    @extend %padding-regular;
  }
}

.post-content img {
  border: 1px solid $post-image-border-color;
  //width: $post-image-width;
  max-height: $post-image-height;
}

.post-content .img-inline,
.post-content a.img-inline img,
.post-content img.img-inline {
  display: inline-block;
  margin: 0.5em 1em 0.5em 0;
}

.post-content .img-right,
.post-content a.img-right img,
.post-content img.img-right
 {
  display: inline-block;
  @media (min-width: $device-xs) {
    float: right;
    margin: 0.5em 0 0.5em 1em;
  }
}

.post-content .img-left,
.post-content a.img-left img,
.post-content img.img-left, {
  display: inline-block;
  @media (min-width: $device-xs) {
    float: left;
    margin: 0.5em 1em 0.5em 0;
  }
}

.post-content .borderless img {
  border: none;
}

.post-content img.signatur {
  border: none;
  width: $post-image-width;
  height: auto;
  max-width: 100%;
}

.post-content img.avatar {
  border: none;
  border-radius: 50%;
  width: 150px;
  height: 150px;
  float: right;
  margin: 0 0.5em 0.5em 0.5em;
  @media (min-width: $device-xs) {
    margin: 0 1em 1em 1em;
  }
}

.post-content img.about {
  @media (min-width: $device-xs) {
    float: right;
    margin: 0 1em 1em 1em;
  }
}

.post-teaser header h2 {
  margin: 0;
}

.post-teaser img {
  border: 1px solid $post-image-border-color;
  @media (max-width: $device-xs) {
    max-width: $post-image-width;
  }
}

.excerpt {
  a.button {
    margin: 0;
  }
}

@media (min-width: $device-xs) {
  .excerpt {
    display: table;

    img + .excerpt-text {
      display: table-cell;
      padding-left: 1.25em;
      vertical-align: top;
      width: 70%;
    }
  }
}
