// Mix-ins
%padding-small {
  padding: $padding-x-small $padding-x-small * 2;
  @media (max-width: $device-sm) {
    padding: $padding-x-small $padding-x-small;
  }
}
%padding-regular {
  padding: $padding-small;
  @media (min-width: $device-xs) {
    padding: $padding-small $padding-large / 2;
  }
  @media (min-width: $device-sm) {
    padding: $padding-small / 2 $padding-large / 2;
  }
  @media (min-width: $device-md) {
    padding: $padding-small / 2 $padding-large;
  }
  @media (min-width: $device-lg) {
    padding: $padding-small / 2 $padding-large * 1.25;
  }
}
%site-el {
  border-bottom: 1px solid $border-color;
  float: left;
  width: 100%;
}
// Buttons
.button, a.button, input.button {
  background-color: $background-color;
  border: 1px solid $link-color;
  color: $link-color;
  display: inline-block;
  margin: 1em 0;
  padding: 0.5em 0.75em;
  &:hover {
    background-color: $background-color;
    border: 1px solid $link-color-hover;
    color: $link-color-hover;
    text-decoration: none;
  }
}
.button-inverse, a.button-inverse, input.button-inverse {
  background-color: $link-color;
  color: $background-color;
  &:hover {
    background-color: $link-color-hover;
    color: $background-color;
  }
}
.body-link {
  &:hover {
    text-decoration: underline;
    color: $link-color-hover;
  }
}
// States
.disabled {
  opacity: 0.7;
}
.sticky {
  margin: 0;
  padding: 0;
}
